*.pyc
*.swp
*.db

# Added by sharing a folder on OS X 
.com.apple.timemachine.supported

# Heroku wants to install virtualenv in the same folder
bin
build
include
lib
.Python

ottozen.sqlite3
ottozen/ottozen_app/static/.sass-cache/*
