<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>{% block title %}TITLE NOT SET{% endblock %}</title>
<link rel='stylesheet' href='{{ STATIC_URL }}css/otto.css' >
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
<script type="text/javascript">
	var Otto = {
		Static: {{ STATIC_URL }}
	};
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/boot.js"></script>
{% block head %}{% endblock %}
</head>
<body>
<div id="container">
    <header id="banner">
        <h2 class="logo"><a href="/">OttoZen: Zen your commute.</a></h2>
		
		<div id="login-box">
			<h3>Sign In:</h3>
			<label>Mobile #</label>
			<input type="text" placeholder="xxx-xxx-xxxx" />
		</div>
	
		<div class="clear"></div>	
    </header><!--end #banner-->
    <div id="maincontent">
    {% block body %}{% endblock %}
    </div><!--end #maincontent-->
</div><!--end #container-->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-26490624-1']);
_gaq.push(['_setDomainName', 'none']);
_gaq.push(['_setAllowLinker', true]);
_gaq.push(['_trackPageview']);

(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</body>
</html>
