{% extends 'base.html' %}
{% block title %}Otto Zen : What's Your Commute?{% endblock %}
{% block body %}

<div id="rightnav">
	<div class="twitter-follow">
		<header>Follow Us on Twitter:</header>
		<section>
			<img src="{{ STATIC_URL }}img/twitter180x.png">
			<img class="miniOtto" src="http://c3380706.r6.cf0.rackcdn.com/ea844cd2-b480-4025-b5f3-46bc04f1775a-Otto_favicon.png"><br>
			<iframe title="" style="width: 300px; height: 20px;" class="twitter-follow-button" src="http://platform.twitter.com/widgets/follow_button.html#_=1319397142763&amp;align=&amp;button=blue&amp;id=twitter_tweet_button_0&amp;lang=en&amp;link_color=&amp;screen_name=otto_zen&amp;show_count=false&amp;show_screen_name=&amp;text_color=" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
			<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
		</section>
	</div>

	<div class="twitter-tell">
		<header>Tell your commuting friends about Otto Zen:</header>
		<section>
			<iframe title="Twitter For Websites: Tweet Button" style="width: 55px; height: 62px;" class="twitter-share-button twitter-count-vertical" src="http://platform.twitter.com/widgets/tweet_button.html#_=1319397142835&amp;count=vertical&amp;id=twitter_tweet_button_0&amp;lang=en&amp;original_referer=http%3A%2F%2Fottozen.qrimp.com%2Fhome&amp;text=Otto%20Zen%20is%20a%20tool%20for%20commuters&amp;url=http%3A%2F%2Fottozen.qrimp.com%2Fhome&amp;via=otto_zen" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
			<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
		</section>
	</div>
</div>

<div id="maincont">
{% if routes and False %}
    <h3>Your Commutes</h3>
    <ol id="user-routes">
{% for route in routes %}
<li class="route" route="{{ route }}" time="{{ route.start_time }}" data-start-address="{{route.start_address}}" data-end-address="{{route.end_address}}">
		<b>{{ route.start_address }}</b> to <b>{{ route.end_address }}</b>
        <button class="check-commute">Check Commute</button>
	</li>
{% endfor %}
    </ol>
{% endif %}

	<h1>What's your commute?</h1>
	<ol>
		{% for commute in commutes %}

			<li start="{{commute.start_address}}" end="{{commute.end_address}}" waypoints="{{commute.waypoints}}"><span class="from" >Starting Address: {{commute.start_address}}</span><span class="to">Ending Address: {{commute.end_address}}</span></li>

		{% endfor %}
	</ol>

	<form id="route_form" action="/route" method="post">
		<input type="hidden" name="user" value="{{user.id}}" />
		<input type="hidden" name="waypoints" value="" />
		<!--<label>Start Time:</label>
		<input type="text" name="start_time" placeholder="Start Time" />-->
        <fieldset>
            <label>Start Address:</label>
            <input type="text" name="start_address" placeholder="Ex: 123 Main Street" />
        </fieldset>
        <fieldset>
            <label>End Address:</label>
            <input type="text" name="end_address" placeholder="Ex: 987 West Nowhere Avenue" />
        </fieldset>
        <fieldset>
            <label>&nbsp;</label>
            <button id="check" class="base bttn" value="checkroute">Check Route</button>
            <button id="watch" class="base bttn" value="watchroute">Watch Route</button>
        </fieldset>
        <input type="hidden" name="route_json" />
		{% csrf_token %}
	</form>

		<div id="gmapCont" class="clear"></div>

</div><!--end #maincont-->

<div id="leftnav">

	<div id="ottoblurb">
		<header>About Otto</header>
		<section>
			<p>Otto helps you deal with the unexpected when stuff happens on the road.</p>
		</section>
	</div><!--end ottoblurb-->

	<div id="vid">
		<header>How Otto Works</header>
		<section>
        <p><img src="{{ STATIC_URL }}img/bigvidthumb.png"></p>
		</section>
	</div><!--end vid-->

</div><!--end leftnav-->


{% endblock %}

