{% extends 'base.html' %}
{% block title %}Otto Zen : My Commutes{% endblock %}
{% block head %}
{% endblock %}
{% block body %}

<h1>Hi {% firstof user.first_name user.username %}! Here are your routes!</h1>

<div id="user_data">

<h2>Contact Info for {% firstof user.first_name user.username %}
  {{route.model.name}}</h2>
   <table class="addressbox">
  <form action="/myroutes/" method="post">{% csrf_token %}
  <tr>
    <td><label>Mobile #:</label></td>
    <td> {{ mobile_num }} </td>
  </tr>
  <tr>
    <td><label>Email:</label></td>
    <td> {{ user.email }} </td>
  </tr>
  <tr colspan="2">
    <td>  <input type="submit" value="Submit" /> <br/ ></td>
  </tr>
</table><!--end addressbox-->
  </form>
</div><!--end #user_data-->

<h2>My Routes</h2>

<ol id="user-routes">
{% for route in routes %}
	<li class="route" route="{{ route }}" time="{{ route.start_time }}">
		<b>{{ route.start_address }}</b> to <b>{{ route.end_address }}</b>
	</li>
{% endfor %}
</ol>

<h3>New Route</h3>
<div id="mapwrap" style="float:left">
	<div id="gmapCont"></div>
</div><!--end #mapwrap-->

<div id="routeinfo">
  <form id="add_commute_form" action="/commutes/add" method="post">
        {% csrf_token %}
  	<input type="hidden" name="user" value="{{user.id}}" />
  	<input type="hidden" name="waypoints" value="" />
  	<label>Start Time:</label>
  	<input type="text" name="start_time" placeholder="Start Time" />
  	<label>Start Address:</label>
  	<input type="text" name="start_address" placeholder="Ex: 123 Main Street" />
  	<label>End Address:</label>
  	<input type="text" name="end_address" placeholder="Ex: 987 West Nowhere Avenue" />
  	<button type="submit">Add</button>
  </form>
</div>

<div class="clearfix"></div>

<a href="#" class="base bttn">Add a Route</a>

{% endblock %}
