{% extends 'base.html' %}
{% block title %}Otto Zen : Sign Up for Calming Traffic Detours{% endblock %}
{% block body %}
<style>
.signupbox{
background:#ddd;
height:200px;
width:300px;
margin:1em;
}
.signupbox td{
padding:1em;
}
</style>

<h1>How do we contact you?</h1>

<table class="signupbox">
<form action="/accounts/profile/" method="post">{% csrf_token %}
	<tr>
		<td><label>Mobile #:</label></td>
		<td> <input type="text" placeholder="123-456-7890"></td>
	</tr>
	<tr>
		<td><label>Email:</label></td>
		<td> <input type="text" placeholder="myname@email.com"></td>
	</tr>
		<td><label>Address:</label></td>
		<td> <input type="text" placeholder="123 Main Street"> </td>
	</tr>
	<tr>
		<td><label>City:</label></td>
		<td><input type="text" placeholder="City"> </td>
	</tr>
	<tr>
		<td><input type="button" value="save" class="base bttn right">
		</td
	</tr>
</table>

  <div>
	  <p>To confirm your mobile number, click the button below:</p>

	  	<input type="button" value="Send me a test text" class="base bttn right" >

		<!--temporary div for demo-->
		 <div class"right"><a href="phone.html">See a sample text image</a>
		 </div><!--end #temp-->

  </div>


{% endblock %}