{% extends 'base.html' %}

{% block body %}
Test Profile


<div id="user_data">
  <label>Username:</label> {{ user.username }} <br />
  <label>Email:</label> {{ user.email }} <br />
  <br />
  <form action="/accounts/profile/" method="post">{% csrf_token %}
  <label>Address:</label> {{ form.home_address }} <br />
  <label>City:</label> {{ form.home_city }} <br />
  <label>Mobile #:</label> {{ form.mobile_num }} <br />
  
  <input type="submit" value="Submit" /> <br/ >
  </form>
  
</div>


<h3>Commutes</h3>
<a style="button" href="/commutes/add">Add a Commute</a><br />
<ol>
{% for commute in commutes %}

<li><span class="time">{{commute.start_time}}</span><span class="from">From: {{commute.start_address}}</span><span class="to">To: {{commute.end_address}}</span></li>

{% endfor %}
</ol>


{% endblock %}
