// Here's where we define some default constants
@import "partials/base";

//look in base for other variables

$leftnav-width: floor( $base-width * 0.15 );
$rightnav-width: 200px;
$container-margin: 20px;
$maincont-width: $base-width - $rightnav-width - $container-margin * 2;
$map-width: $maincont-width - $container-margin *2;


body{
	@include default_type;
	background: $base-bg;
	color: $base-color;
}
a, h1,h2,h3,h4,H1,H2,H3,H4{
	color:$base-button-color;
}


input{

	&:focus{
		background: lighten( $base-button-color, 50% );
	}
}

#container{
	@include margin-leader;
	@include margin-trailer;
	margin-left: auto;
	margin-right: auto;
	width: $base-width;
	background: $box-bg;
}
#banner{

	@include padding-leader(0.5);
	padding-left: 1em;
	padding-right: 1em;
	@include padding-trailer;
	
	& h2.logo{
		@include float-left;
		& a{
			text-indent: -9999px;
			display:block;
			width:288px;
			height:100px;
			background: url('../img/Ottologo.png');
		}
	}

	& #login-cont{
		@include float-right;
		display: inline-block;
		width: $rightnav-width;
		
		
		& h3{
			@include adjust-font-size-to( 16px );
			color: $base-button-color;
		}
		& label, & input{
			display: block;
			@include margin-trailer(0.25);
		}
		& label{
			margin-right: 1em;
		}
		& input{
			padding-right: 0.5em;
			padding-left:0.5em;
			@include adjust-font-size-to( 12px, 1.25);
		}
		& button{
			@include adjust-font-size-to(12px, 1.25);
			@include float-right;
			margin-right: 10px;
		}
        & .login_error {
            color: red;
        }
        & a {
            text-decoration: none;
            font-weight: bold;
        }
	}
}

.base.bttn{
	@include base-button;
	@include adjust-font-size-to( 16px );
}

a.base.bttn{
	text-decoration: none;
}

#maincontent{
	display:block;
	@include padding-leader;
	@include padding-trailer;
	padding-left: 1em;
	padding-right:1em;
	border: 1px solid darken( $light-grey, 30% );
	background: $box-bg;
	@include pie;
	-pie-background: linear-gradient( top, $base-header-color 0%, lighten( $base-header-color, 30% ) 1%, lighten( $base-header-color, 100% ) 100% );
	@include background( linear-gradient( top, $base-header-color 0%, lighten( $base-header-color, 30% ) 1%, lighten( $base-header-color, 100% ) 8% ) );

	& h1{
		@include adjust-font-size-to( 28px );
		@include single-text-shadow( #bbb, 2px );
		@include margin-trailer(0.25);

	}

	& #route_form{
		display:block;
		
		@include margin-leader;
		@include margin-trailer;
		margin-right: 1em;

		& *{
			//margin-left: 0.5em;
			//margin-right: 0.5em;
		}

        & fieldset{
            float: left;
        }
		
		& label{
			color: darken( $base-button-color, 1% );
			@include adjust-font-size-to( 14px );
			font-weight: bold;
			@include margin-trailer(0.25);
			display:block;
			
			//@include single-text-shadow( lighten($base-color, 20%), -1px, 1px, 0px );
		}
		
		& input{
			@include margin-trailer;
			@include adjust-font-size-to(14px, 1.5);
			padding-left: 0.5em;
			padding-right: 0.5em;
		
		}
	}
	

	& #gmapCont{
		//@include float-left;
		@include margin-leader;
		@include margin-trailer;
		display:block;
		height:320px;
		width: $map-width;
        border: 1px solid $light-grey;
		//margin-left:auto;
		//margin-right:auto;
	}
	
}


#add_commute_confirm{

	margin: 12px auto;
	display: block;
	font-size: 16px;
	color: #666;
	line-height: 24px;
	background: rgba( 100,255,100,0.3 );
	border: 1px solid rgb( 100, 255, 100 );
}
#add_commute_confirm:hover{
	background: rgba( 100,255,100,0.5 ) ;
}
#add_commute_confirm:active{
	background: rgba( 100,255,100,0.7 ) ;
}



.clear{
@include pie-clearfix;
}
.right{
@include float-right;
}
.addressbox{
    background: none repeat scroll 0 0 #EEEEEE;
    display: block;
    height: 123px;
    line-height: 30px;
    margin: 1em;
    padding: 10px;
    width: 300px;
}
.addressbox label{
	margin:1em;
}



#leftnav, #rightnav{


	& > div{
		border: 1px solid darken( $base-bg, 30% );
		@include margin-trailer;
		
		& header{
			padding-left: 1em;
			padding-right: 1em;
			@include padding-leader(0.5);
			@include padding-trailer(0.5);
			background: $base-bg;
		}
		& section{
			padding-left: 1em;
			padding-right: 1em;
			@include padding-leader(0.5);
			@include padding-trailer(0.5);
			
			background: darken( $box-bg, 5% );
			
			& img, & iframe{
				display:block;
				@include margin-trailer(0.5);
			}
		}
	}
	
}

#leftnav{
	@include float-left;
	//width: $leftnav-width;
	@include margin-leader;

	& > div{
		display: inline-block;
		margin-right: $container-margin;
		width: $rightnav-width * 1.5;
		
		vertical-align:top;
	}
}

#rightnav{
	@include float-right;
	width: $rightnav-width;
	
}

#maincont{
	width: $maincont-width;
	display: block;
	margin-right: $container-margin;
}



